<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CommentMapper">

    <select id="getByBlogId" resultType="com.example.demo.entity.Comment">
        select * from comment where blog_id = #{blogId}
    </select>
</mapper>